*{
    font-family: Verdana;
    margin: 20px 20px 20px 20px;
}
.table1 {
    font-family: sans-serif;
    color: #444;
    border-collapse: collapse;
    width: 70%;
    border: 1px solid #f2f5f7;
    align-items: center;
}

.table1 tr th {
    background: #35A9DB;
    color: #fff;
    font-weight: normal;
}

.table1,th,td {
    padding: 15px 20px;
    text-align: center;
}

.table1 tr:hover {
    background-color: #f5f5f5;
}

.table1 tr:nth-child(even) {
    background-color: #f2f2f2;
}
a {
    background: #35A9DB;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;
    text-decoration: none;
}
.simpan{
    background: green;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 12px 20px;

}
.ubah {
    background: greenyellow;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 10px 10px;

}
.hapus {
    background: red;
    color: white;
    border: white 3px solid;
    border-radius: 5px;
    padding: 10px 10px;

}
a:hover, .simpan:hover{
    opacity: 0.9;
}
.form {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
h3{
    text-align: center;
}